.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

.photo1{
    /* transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg); */
    border: 15px solid white;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.layer{
    border: 1px solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    z-index: 10;
}
.layer::before{
    content: "";
    background-color: #2c7296;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 40px;
    height: 40px;
    position:absolute;
    top: -30px;
    right: 170px;
    z-index: -2;
}
.layer::after{
    content: "";
    background-color: #2c7296;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 40px;
    height: 40px;
    position:absolute;
    bottom: -30px;
    right: 20px;
    z-index: -2;
}
.photo1 img{
   padding: 10px;
   margin-top: -220px;
   margin-left: -175px;
   transform: rotate(-45deg) scale(.5);
   -webkit-transform: rotate(-45deg) scale(.5);
   -moz-transform: rotate(-45deg) scale(.5);
   -ms-transform: rotate(-45deg) scale(.5);
   -o-transform: rotate(-45deg) scale(.5);
}