/* some css inherited from dashboard*/

#ChangePassword_container {

}
.password_container{
     display: flex;
     background-color: #fff;
     border-radius: 5px;
     padding:120px 30px;
     justify-content: space-evenly;
     align-items: center;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}
.password_container form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 250px;
    border: 1px solid var(--btn_primary);
    border-radius: 5px;
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.password_container form input{
    /* width: 100%; */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
 input[type="submit"]{
    background-color: var(--btn_primary);
    color: #fff;
}
input[type="submit"]:hover{
    background-color: var(--btn_primary_hover);
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .password_container .left{
        display: none;
    }

}
@media screen and (max-width:700px) {
    .password_container{
        padding: 40px 30px;
        gap: 0;
    } 
  
}