#Dashboard-container{
    background-color: #E2EAF8;
    margin-top: 70px;
    display:  flex;
    /* gap: 40px; */
    width: 100%;
}
.dashboard-container-sidebar{
    height: 700px;
    overflow: scroll;
    width: 20%;
}
.routes_component{
    padding: 30px 40px;
    width: 75%;
}