#companyProfile_container,
#PostNewJob {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

#companyProfile_container h4,
#PostNewJob h4 {
    font-size: 20px !important;
}

/*------- company data--------- */

.company_data_hld {
    display: flex;
    width: auto;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.company_data_hld form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    /* overflow: hidden; */
}
.data_row1,
.data_row2{
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
}
.data_row3{
    width: 100%;
}
.data_row1 .hide {
    display: none;
}

.data_row1 .file_upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1.5px dashed gray;
    padding: 30px;
    cursor: pointer;
    width: 100px;
    color: gray;
    transition: all .3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.data_row1 .file_upload:hover{
    border-color: black;
    color: black;
}
.data_row2 .left,
.data_row2 .right{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}
.left label,
.right label,
.data_row3 label{
 font-size: 14px;
}
.left input,
.right input,
.right select,
.left select,
.data_row3 textarea,
.data_row3 input{
    max-width: 100%;
    /* height: 30px; */
    background-color: #d0e0fc;
    border: 1px solid #d0e0fc;
    padding: 15px 10px;
    font-size: 12px;
    border-radius: 5px;
    color: dimgray;
    transition: all .3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.data_row3 textarea{
    margin-top: 10px;
  width: 98%;
  height: 120px;
  resize: none;
}
.data_row3 input{
    margin-top: 10px;
    width: 98%;
}
.left select,
.right select{
    width: 100%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.left input:focus,
.right input:focus,
.right select:focus,
.data_row3 textarea:focus,
.select2-selection__rendered:focus{
    border: 1px solid #1967D2;
    outline: #1967D2 !important;
}
form .submit{
    border-radius: 5px;
    background-color: #1967D2;
    color: #fff;
    padding: 15px 10px;
    border: none;
    font-size: 16px;
    transition: all .3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
form .submit:hover{
    cursor: pointer;
    background-color: #1b52a0;
}

/* styling select2  */

.select2-selection--multiple{
    border: 1px solid #d0e0fc !important;
    /* height: 40px !important; */
    padding: 0 !important;
    background-color: #d0e0fc !important;
    /* width: 100% !important; */
    margin: 0 !important;
    padding-left: 10px !important;
}
.select2-container .select2-search--inline .select2-search__field{
    margin-top: 0 !important;
    background-color: #d0e0fc !important;
    height: 45px !important;
    margin: 0 !important;
    padding: 10px !important;
    font-size: 12px !important;
}
.select2-container{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 12px !important;
    height: fit-content !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding: 0 !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}


/* ------additional css for post new job page--------- */
.data_row2 .icon_hld{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 25vw;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.data_row2 .icon{
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #d0e0fc ;
    color: #1967D2;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.css-13cymwt-control,
.css-1fdsijx-ValueContainer,
.css-1hb7zxy-IndicatorsContainer {
    background-color: #d0e0fc !important;
    height: 50px !important;
    font-size: 12px !important;
}
.css-1xc3v61-indicatorContainer{
    color: gray !important;
}

@media screen and (max-width: 1000px){
    .data_row2 .icon_hld{
        width: 350px !important;
    }
    .icon_hld span{
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .data_row1{
        gap: 10px;
    }
    .data_row1 .file_upload{
        width: 85px;
        padding: 20px;
        font-size: 12px;
    }
    .data_row2{
        flex-direction: column;
    }
    .data_row2 .left,
    .data_row2 .right{
        width: 100%;
    }
    .data_row2 .icon_hld{
        flex-direction: column;
        margin-bottom:10px ;
    }
    .data_row3 input,
    .data_row3 textarea{
        width: 93%;
    }
}